.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  color: #e11d3f;
  border-bottom: solid #e11d3f;
}

.App-header img {
  width: 250px;
}

.App-body {
  margin-top: 1rem;
  min-height: 100%;
  padding-left: 3rem;
}

.App-footer {
  text-align: center;
  font-style: italic;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: solid #e11d3f;
}
