.Notifications {
    position: relative;
    padding: 1rem;
    border: dashed #e11d3f;
}

.Notifications li[data-priority='default'] {
    color: blue;
}

.Notifications li[data-priority='urgent'] {
    color: red;
}
