.Notifications {
    position: relative;
    padding: 1rem;
    border: dashed #e11d3f;
}

.Notifications li[data-notification-type='default'] {
    color: blue;
}

.Notifications li[data-notification-type='urgent'] {
    color: red;
}
